{% extends 'base/base.html' %}

{% block title %}
CODEMATH
{% endblock %}
{% block content %}
<form method="post">
  <font color="White" face="Comic Sans MS">
  {% csrf_token %}
  {{ form.as_p}}
  <div class="container_12 top-1">
    <h2>Ecuaciones por:</h2>
    <br></br>
    <div class="grid_4 box-1"><a class="button" href="{% url 'Biseccion' %}" >Biseccion</a></div>
    <div class="grid_4 box-1"><a class="button" href="{% url 'Reglafalsa' %}">Regla falsa </a></div>
    <div class="grid_4 box-1"><a class="button" href="{% url 'Newton' %}" >Newton Raphson</a></div>
    <br></br><br></br>

    <div class="grid_4 box-1"><a class="button" href="{% url 'Secante' %}">Secante </a></div>
    <div class="grid_4 box-1"><a class="button" href="{% url 'Polinomios' %}">polinomios</a></div>
  </div>
</form>

<br></br><br></br><br></br>
{% endblock %}
