{% extends 'base/base.html'%} {% block content %}

<div class="col-md-12">

    <div class="col-md-12 col-lg-6 fixed-t-padding" id="codeMathInfo">
        <h2 class="featurette-heading">Bienvenid@ a CodeMath <span class="text-muted">Métodos Numéricos</span></h2>
        <p class="lead">En este sitio podrás encontrar todo lo que necesites para aprender Métodos Numéricos o simplemente resolver tus tareas (tranquil@ no le diremos a tu profesor). Se libre de usar el software, ver los videos o consultar los documentos que tenemos
            para ti.</p>
    </div>

    <div class="col-md-12 col-lg-6 container marketing" id="codeMathTeam">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-md-4">
                <img class="img-circle" src="static/imagenes/johana.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Johana</h2>
                <p>Estudiante de Ingeniería Multimedia.</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-md-4">
                <img class="img-circle" src="static/imagenes/juan.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Juan</h2>
                <p>Estudiante de Ingeniería Multimedia.</p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-md-4">
                <img class="img-circle" src="static/imagenes/maria.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Maria</h2>
                <p>Estudiante de Ingeniería Multimedia.</p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
</div>
{% endblock %}
