{% extends 'base/base.html' %}{% block content %}{% load staticfiles %}
<div class="container" style="margin-top:-10px;">

    <div class="page-header">
        <h1>{% block title %}Método de Regla Falsa{% endblock %}</h1>
    </div>
    <form action="{% url 'reglaFalsa' %}" method="post">
        {% csrf_token %} {{ form.as_p}}

        <div class="form-group">

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Función:</span>
                <input id="funcion" name="funcion" type="text" value="" class="form-control" placeholder="31">
            </div>

        </div>
        <div class="form-group">
            <div class="input-group">

                <span class="input-group-addon" id="basic-addon1">Intervalo Superior:</span>
                <input id="intervaloa" name="intervaloa" type="text" value="" class="form-control" placeholder="31">

                <span class="input-group-addon" id="basic-addon1">Intervalo Inferior:</span>
                <input id="intervalob" name="intervalob" type="text" value="" class="form-control" placeholder="">

                <span class="input-group-addon" id="basic-addon1">Error:</span>
                <input id="Errorr" name="Errorr" type="text" value="" class="form-control" placeholder="">
            </div>

        </div>
        <button type="Submit" class="btn btn-primary">Convertir</button>
        <button type="Submit" class="btn btn-danger">Limpiar</button>
    </form>

    <center>
      <table border="1">
        <tr>
          <th><center># iteraciones</center></th>
          <th><center>Raices</center></th>
          <th><center>Error</center></th>
        </tr>
        {% if final %}
          {% for i in final %}
            <tr>
            {% for j in i %}
                  <td style="text-align: center">{{j}}</td>
            {% endfor %}
            </tr>
          {% endfor %}
        {% endif %}

      </table>
    </center>

    <br></br><br></br>
    <center>
      <iframe src="{% static 'PDF/MetodoDeLaReglaFalsa.pdf' %}" style="width:300px; height:275px;" frameborder="0"></iframe>
    </center>
</div>
{% endblock %}
